.site-mobile-menu.site-navbar-target
  .site-mobile-menu-header
    .site-mobile-menu-close.mt-3
      span.icon-close2.js-menu-toggle
  .site-mobile-menu-body
header.site-navbar.site-navbar-target(role='banner', style= carLink || orderConfirm?'background:#000000d9':''   )
  .container
    .row.align-items-center.position-relative
      .col-3
        .site-logo
          a(href='/') CarRent
      .col-9.text-right
        span.d-inline-block.d-lg-none
          a.text-white.site-menu-toggle.js-menu-toggle.py-5.text-white(href='#')
            span.icon-menu.h3.text-white
        nav.site-navigation.text-right.ml-auto.d-none.d-lg-block(role='navigation')
          ul.site-menu.main-menu.js-clone-nav.ml-auto
            li(class= homeLink ?  "active":'')
              a.nav-link(href='/') Home
           
            li(class= carLink ?  "active":'')
              a.nav-link(href='/cars') Cars
              
            li(class= wishlistLink ?  "active":'')
              a.nav-link.nav-wishlist(href='/wishlist' data-wishlist= message? message:'') Your WishList
            
           
            li(class=contactLink ?  "active":'')
              a.nav-link(href='/contact') Contact
            if !user
              li(class= loginLink ?  "active":'')
                a.nav-link(href='/user/signin') Log In 
             
            else
              li
                  input(type="hidden", name="_csrf" value= csrfToken)
                  a.nav-link.logout(style= 'cursor:pointer') Logout          
              li  
                a.nav-link(href='services.html', onMouseOver="this.style.transform = 'translateY(-2px)'",   onMouseOut="this.style.transform = 'translateY(0px)'")  
                  img(src='/images/default.jpg', alt=`${user.name}`, height='42', width='42', style='border-radius: 50%; margin-right: 10px')
                  span= user.name