extends index

block content
    .ftco-blocks-cover-1
        .ftco-cover-1.overlay.innerpage(style="background-image: url('images/hero_2.jpg')")
            .container
                  .row.align-items-center.justify-content-center
                        .col-lg-6.text-center
                              h1 Contact Us
                              

    #contact-section.site-section.bg-light
        .container
            .row.justify-content-center.text-center
                  .col-7.text-center.mb-5
                        h2 Contact Us Or Use This Form To Rent A Car
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo assumenda, dolorum necessitatibus eius earum voluptates sed!
            .row
                  .col-lg-8.mb-5
                        form(action='#', method='post')
                              .form-group.row
                                    .col-md-6.mb-4.mb-lg-0
                                          input.form-control(type='text', placeholder='First name')
                                    .col-md-6
                                          input.form-control(type='text', placeholder='First name')
                              .form-group.row
                                    .col-md-12
                                          input.form-control(type='text', placeholder='Email address')
                              .form-group.row
                                    .col-md-12
                                          textarea.form-control(name='', id='', placeholder='Write your message.', cols='30', rows='10')
                              .form-group.row
                                    .col-md-6.mr-auto
                                          input.btn.btn-block.btn-primary.text-white.py-3.px-5(type='submit', value='Send Message')
                  .col-lg-4.ml-auto
                        .bg-white.p-3.p-md-5
                              h3.text-black.mb-4 Contact Info
                              ul.list-unstyled.footer-link
                                    li.d-block.mb-3
                                          span.d-block.text-black Address:
                                          span 34 Street Name, City Name Here, United States
                                    li.d-block.mb-3
                                          span.d-block.text-black Phone:
                                          span +1 242 4942 290
                                    li.d-block.mb-3
                                          span.d-block.text-black Email:
                                          span info@yourdomain.com
