extends index

block content
    .ftco-blocks-cover-1
        .ftco-cover-1.overlay.innerpage(style="background-image: url('/images/hero_2.jpg')")
            .container
                  .row.align-items-center.justify-content-center
                        .col-lg-6
                            #first
                                .myform.form
                                    .logo.mb-3
                                        .col-md-12.text-center
                                                h2 Forgot Password
                                    form(class='forgotPassword-form') 
                                        .form-group
                                                label(for='exampleInputEmail1') Email address
                                                input#email.form-control(type='email', name='email', aria-describedby='emailHelp', placeholder='Enter email')                                       
                                        
                                        .col-md-12.text-center
                                                input(type='hidden', name="_csrf" value= csrfToken)  
                                                button.btn.btn-block.mybtn.btn-primary.tx-tfm(type='submit' style='width:25%; margin:0 auto') Submit
                                   
                                     
                            

                          
