doctype html
html(lang='en')
    include ./_head
    body(data-spy='scroll', data-target='.site-navbar-target', data-offset='300')
        #home-section.site-wrap   

            include ./_nav



            block content
               
                .ftco-blocks-cover-1
                    .ftco-cover-1.overlay(style="background-image: url('http://127.0.0.1:3000/images/hero_1.jpg')")
                        .container
                            .row.align-items-center
                                .col-lg-5
                                    .feature-car-rent-box-1
                                        h3 Range Rover S7
                                        ul.list-unstyled
                                            li
                                                span Doors
                                                span.spec 4
                                            li
                                                span Seats
                                                span.spec 6
                                            li
                                                span Lugage
                                                span.spec 2 Suitcase/2 Bags
                                            li
                                                span Transmission
                                                span.spec Automatic
                                            li
                                                span Minium age
                                                span.spec Automatic
                                            
                                        .d-flex.align-items-center.bg-light.p-3
                                            span $150/day
                                            a.ml-auto.btn.btn-primary(href='contact.html') Rent Now
        
                .site-section.bg-light
                    .container
                        .row
                            .col-lg-3
                                h3 Our Offer
                                p.mb-4
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure nesciunt nemo vel earum maxime neque!
                                p
                                    a.btn.btn-primary.custom-prev(href='#') Previous
                                    span.mx-2 /
                                    a.btn.btn-primary.custom-next(href='#') Next
                            .col-lg-9
                                .nonloop-block-13.owl-carousel
                                    .item-1
                                        a(href='#')
                                            img.img-fluid(src='/images/img_1.jpg', alt='Image')
                                        .item-1-contents
                                            .text-center
                                                h3
                                                    a(href='#') Range Rover S64 Coupe
                                                .rating
                                                    span.icon-star.text-warning
                                                    span.icon-star.text-warning
                                                    span.icon-star.text-warning
                                                    span.icon-star.text-warning
                                                    span.icon-star.text-warning
                                                .rent-price
                                                    span $250/
                                                    | day
                                            ul.specs
                                                li
                                                    span Doors
                                                    span.spec 4
                                                li
                                                    span Seats
                                                    span.spec 5
                                                li
                                                    span Transmission
                                                    span.spec Automatic
                                                li
                                                    span Minium age
                                                    span.spec 18 years
                                                li
                                                    span Minium age
                                                    span.spec Automatic
                                                li
                                                    span Minium age
                                                    span.spec Automatic
                                                li
                                                    span Minium age
                                                    span.spec Automatic
                                            .d-flex.action
                                                a.btn.btn-primary(href='contact.html') Rent Now
                                    .item-1
                                        a(href='#')
                                            img.img-fluid(src='/images/img_2.jpg', alt='Image')
                                        .item-1-contents
                                            .text-center
                                                h3
                                                    a(href='#') Range Rover S64 Coupe
                                                .rating
                                                    span.icon-star.text-warning
                                                    span.icon-star.text-warning
                                                    span.icon-star.text-warning
                                                    span.icon-star.text-warning
                                                    span.icon-star.text-warning
                                                .rent-price
                                                    span $250/
                                                    | day
                                            ul.specs
                                                li
                                                    span Doors
                                                    span.spec 4
                                                li
                                                    span Seats
                                                    span.spec 5
                                                li
                                                    span Transmission
                                                    span.spec Automatic
                                                li
                                                    span Minium age
                                                    span.spec 18 years
                                            .d-flex.action
                                                a.btn.btn-primary(href='contact.html') Rent Now
                .site-section.section-3(style="background-image: url('http://127.0.0.1:3000/images/hero_2.jpg');")
                    .container
                        .row
                            .col-12.text-center.mb-5
                                h2.text-white Our services
                        .row
                            .col-lg-4
                                .service-1
                                    span.service-1-icon
                                        span.flaticon-car-1
                                    .service-1-contents
                                        h3 Repair
                                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, laboriosam.
                            .col-lg-4
                                .service-1
                                    span.service-1-icon
                                        span.flaticon-traffic
                                    .service-1-contents
                                        h3 Car Accessories
                                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, laboriosam.
                            .col-lg-4
                                .service-1
                                    span.service-1-icon
                                        span.flaticon-valet
                                    .service-1-contents
                                        h3 Own a Car
                                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, laboriosam.
                .container.site-section.mb-5
                    .row.justify-content-center.text-center
                        .col-7.text-center.mb-5
                            h2 How it works
                            p
                                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo assumenda, dolorum necessitatibus eius earum voluptates sed!
                    .how-it-works.d-flex
                        .step
                            span.number
                                span 01
                            span.caption Time & Place
                        .step
                            span.number
                                span 02
                            span.caption Car
                        .step
                            span.number
                                span 03
                            span.caption Details
                        .step
                            span.number
                                span 04
                            span.caption Checkout
                        .step
                            span.number
                                span 05
                            span.caption Done
                .site-section.bg-light
                    .container
                        .row.justify-content-center.text-center.mb-5
                            .col-7.text-center.mb-5
                                h2 Customer Testimony
                                p
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo assumenda, dolorum necessitatibus eius earum voluptates sed!
                        .row
                            .col-lg-4.mb-4.mb-lg-0
                                .testimonial-2
                                    blockquote.mb-4
                                        p
                                            | "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, deserunt eveniet veniam. Ipsam, nam, voluptatum"
                                    .d-flex.v-card.align-items-center
                                        img.img-fluid.mr-3(src='/images/person_1.jpg', alt='Image')
                                        span Mike Fisher
                            .col-lg-4.mb-4.mb-lg-0
                                .testimonial-2
                                    blockquote.mb-4
                                        p
                                            | "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, deserunt eveniet veniam. Ipsam, nam, voluptatum"
                                    .d-flex.v-card.align-items-center
                                        img.img-fluid.mr-3(src='/images/person_2.jpg', alt='Image')
                                        span Jean Stanley
                            .col-lg-4.mb-4.mb-lg-0
                                .testimonial-2
                                    blockquote.mb-4
                                        p
                                            | "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, deserunt eveniet veniam. Ipsam, nam, voluptatum"
                                    .d-flex.v-card.align-items-center
                                        img.img-fluid.mr-3(src='/images/person_3.jpg', alt='Image')
                                        span Katie Rose
                .site-section.bg-white
                    .container
                        .row.justify-content-center.text-center.mb-5
                            .col-7.text-center.mb-5
                                h2 Our Blog
                                p
                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo assumenda, dolorum necessitatibus eius earum voluptates sed!
                        .row
                            .col-lg-4.col-md-6.mb-4
                                .post-entry-1.h-100
                                    a(href='single.html')
                                        img.img-fluid(src='/images/post_1.jpg', alt='Image')
                                    .post-entry-1-contents
                                        h2
                                            a(href='single.html') The best car rent in the entire planet
                                        span.meta.d-inline-block.mb-3
                                            | July 17, 2019 
                                            span.mx-2 by
                                            a(href='#') Admin
                                        p
                                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores eos soluta, dolore harum molestias consectetur.
                            .col-lg-4.col-md-6.mb-4
                                .post-entry-1.h-100
                                    a(href='single.html')
                                        img.img-fluid(src='/images/img_2.jpg', alt='Image')
                                    .post-entry-1-contents
                                        h2
                                            a(href='single.html') The best car rent in the entire planet
                                        span.meta.d-inline-block.mb-3
                                            | July 17, 2019 
                                            span.mx-2 by
                                            a(href='#') Admin
                                        p
                                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores eos soluta, dolore harum molestias consectetur.
                            .col-lg-4.col-md-6.mb-4
                                .post-entry-1.h-100
                                    a(href='single.html')
                                        img.img-fluid(src='/images/img_3.jpg', alt='Image')
                                    .post-entry-1-contents
                                        h2
                                            a(href='single.html') The best car rent in the entire planet
                                        span.meta.d-inline-block.mb-3
                                            | July 17, 2019 
                                            span.mx-2 by
                                            a(href='#') Admin
                                        p
                                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores eos soluta, dolore harum molestias consectetur.


            include ./_footer



script(src='js/jquery-3.3.1.min.js')
script(src='js/popper.min.js')
script(src='js/bootstrap.min.js')
script(src='js/owl.carousel.min.js')
script(src='js/jquery.sticky.js')
script(src='js/jquery.waypoints.min.js')
script(src='js/jquery.animateNumber.min.js')
script(src='js/jquery.fancybox.min.js')
script(src='js/jquery.easing.1.3.js')
script(src='js/bootstrap-datepicker.min.js')
script(src='js/aos.js')
script(src='js/main.js')
