extends index

block content
    .ftco-blocks-cover-1
        .ftco-cover-1.overlay.innerpage(style="background-image: url('/images/hero_2.jpg')")
            .container
                  .row.align-items-center.justify-content-center
                        .col-lg-6
                            #first
                                .myform.form
                                    .logo.mb-3
                                        .col-md-12.text-center
                                                h2 Login
                                    form(class='login-form') 
                                        .form-group
                                                label(for='exampleInputEmail1') Email address
                                                input#email.form-control(type='email', name='email', aria-describedby='emailHelp', placeholder='Enter email')
                                        .form-group
                                                label(for='exampleInputEmail1') Password
                                                input#password.form-control(type='password', name='password', aria-describedby='emailHelp', placeholder='Enter Password')
                                        .form-group
                                                p.text-center
                                                    a(href='/api/v1/users/forgotpassword') Forgot Password
                                        .col-md-12.text-center
                                                input(type='hidden', name="_csrf" value= csrfToken)  
                                                button.btn.btn-block.mybtn.btn-primary.tx-tfm(type='submit') Login
                                        .col-md-12
                                                .login-or
                                                    hr.hr-or
                                                    span.span-or or
                                      
                                        .form-group
                                                p.text-center Don't have account? 
                                                    a#signup(href='/user/signup') Sign up here
                            

                          
